llama-index==0.10.43
llama-index-finetuning==0.1.6
llama-index-llms-openai==0.1.22
llama-index-llms-ollama==0.1.5
llama-index-embeddings-openai==0.1.10
llama-index-embeddings-ollama==0.1.2
llama-index-embeddings-huggingface==0.2.1
llama-index-embeddings-fastembed==0.1.4
llama-index-vector-stores-qdrant==0.2.10
qdrant-client==1.9.1
python-dotenv==1.0.1
python-dotenv==1.0.1
matplotlib==3.9.0
ipython==8.25.0
openai==1.35.7
numpy==1.26.4
openai-whisper
pytube==15.0.0
moviepy==1.0.3